@import 'vars';

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  a {
    color: blue;
    padding: 10px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    text-decoration: none;
  }
  a:hover, a.active {
    background: $primary_bg;
    color: #FFF;
  }

  &.secondary {
    a {
      color: blue;
      padding: 5px;
    }
    a:hover, a.active {
      background: $secondary_bg;
      color: #FFF;
    }
  }
}

// nav.primary {}

// nav.secondary {
//   a {
//     color: blue;
//     padding: 5px;
//   }
//   a:hover, a.active {
//     background: #3a3ace;
//     color: #FFF;
//   }
// }
